<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="fn-name">
        Name/Path
    </label>
    <div class="col-sm-10">
        <input id="fn-name" type="text" class="form-control" aria-label="Name and trigger">
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <fieldset class="form-group row">

            <legend class="col-form-label col-lg-2 pt-0">Triggers</legend>

            <div class="col-lg-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="fn-trigger-options" id="fn-trigger-options1"
                        value="http">
                    <label class="form-check-label" for="fn-trigger-options1">
                        <select class="custom-select form-control" id="fn-trigger-select">
                            <option selected>Choose...</option>
                            {% for trigger in http_triggers %}
                            <option value="{{ trigger }}">{{ trigger }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="fn-trigger-options" id="fn-trigger-options2"
                        value="timer">
                    <label class="form-check-label row" for="fn-trigger-options2">
                        <label class="col-lg-5 col-form-label" for="fn-trigger-cron">
                            Interval (CRON)
                        </label>
                        <div class="col-lg-7">
                            <input id="fn-trigger-cron" type="text" class="form-control" aria-label="Cron">
                        </div>
                    </label>
                </div>

                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="fn-trigger-options" id="fn-trigger-options3"
                        value="disabled" checked>
                    <label class="form-check-label" for="fn-trigger-options3">
                        Disable
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 mb-3 ml-3 pl-0 border">
        <textarea id="editor"></textarea>
    </div>
</div>
<div class="row">
    <div class="offset-md-10 col-md2">
        <select class="custom-select form-control" id="fn-lang-select">
            <option selected>Choose...</option>
            {% for lang in programming_languages %}
            <option value="{{ lang }}">{{ lang }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row">

    <div class="offset-md-10 col-lg-1">
        <button onclick="" type="button" class="btn btn-primary">&gt;</button>
    </div>
    <div class="col-lg-1">
        <button onclick="saveFunction()" type="button" class="btn btn-success">Save</button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Log</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="fn-logs" , class="pre-scrollable">$</div>
    </div>
</div>